
@media screen and (-webkit-min-device-pixel-ratio:0) {
*{
    font-family: 'M PLUS 1p', sans-serif;
}

	/* 適用したいスタイル */

/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-btn{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "\f0c9";
  font-family: FontAwesome;
}

/*----------------------------
* メニュー本体
*----------------------------*/
.menu{
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #66cdaa;
}
.menu_item{
  font-size: 40px;
  width: 100%;
  height: auto;
  padding: .5em 1em;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}
/* -----------aタグアンダーバーアニメーション-------------- */
a.menu-a{
  text-decoration: none;
  display: block;
  padding: 0 0 5px;
  text-decoration: none;
}
a.menu-a::after {
  border-bottom: solid 2px white;
  bottom: 0;
  content: "";
  display: block;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}
a.menu-a:hover::after {
  width: 100%;
}
/* -----------aタグアンダーバーアニメーション-------------- */

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.menu{
  transform: translateX(110vw);
  transition: all .3s linear;
}
/* アニメーション後のメニューの状態 */
.menu.is-active{
  transform: translateX(0);
}

/* -------ヘッダーメニューここまで--------- */
/* -------PC版CSS--------- */
@media screen and (min-width: 481px){
  body{
    background-color: #b0e0e6;
  }
  .index_body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b0e0e6;
    flex-direction: column;
  }
  br.phone{
    display: none;
  }
  .title{
      margin-top: 5em;
      text-align: center;
      font-size: 30px;
      background-color: #fff;
      width: 80%;
      height: auto;
      border: 2px solid #f9f9f9;
      border-radius: 10em;
      box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .title h1{
      font-family: 'Slabo 27px', serif;
  }
.title-btn h2{
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 10em;
  height: 4em;
  border: 2px solid #f9f9f9;
  border-radius: 10em;
  box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  transition: .5s;
}
.title-btn{
  display: flex;
}
.sub_title1 h2:hover{
  background-color: #87ceeb;
  border: #87ceeb;
  width: 14em;
  height: 5em;
  transition: .5s;

}
.sub_title2 h2:hover{
  background-color: #f08080;
  border: #f08080;
  width: 14em;
  height: 5em;
  transition: .5s;
}
a.BIG-TITLE {
  text-decoration: none;
  color: black;
}
  .about_body{
    background-color: #b0e0e6;
  }
  h1.about_title{
    text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 50px;
    background-color: #fff;
    width: 20%;
    height: auto;
    border: 2px solid #f9f9f9;
    border-radius: 10em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  
  .session{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 100%;
    height: auto;
    border: 2px solid #f9f9f9;
    border-radius: 5em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .Session_title{
    text-align: left;
  }
  .Session_title h1{
    font-size: 70px;
    font-family: 'Slabo 27px', serif;
  }
  .Session_title h2{
    font-size: 50px;
    width: 110%;
    height: 2em;
    border-bottom: 3px solid rgba(100,149,237,0.4);
    box-shadow: 0 3px 0 rgba(255,255,255,1);
  }
  .session p{
    font-size: 20px;
  }
  .bold{
    font-size: 20px;
    color: #a52a2a;
  }
  .contact_title{
    text-align: center;
    background-color: #fff;
    width: 20%;
    height: auto;
    border: 2px solid #f9f9f9;
    border-radius: 10em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }

  .contact_form{
    text-align: center;
  }
  .contact_form h2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 5em;
    margin-bottom: 2em;
    border: 2px solid #fff;
    border-radius: 10em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    border: 2px solid #fff;
    border-radius: 10em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .question{
    outline:0;
    width: 100%;
    border: 2px solid black;
    border-radius: 0.7em;
  }
  .question.active{
    border: 2px double black;
    border-radius: 0.7em;
    outline:0;
    width: 60%;
  }
  input.submit{
    outline:0;
    width: 40%;
    height: 5em;
    border: 2px solid black;
    background-color: white;
    border-radius: 2em;
  }
  input.submit:hover{
    background-color: #b0e0e6;
    transition: .3s;
  }
  #message{
    height: 20em;
  }
  .contact_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .QA{
    text-align: center;
    background-color: #fff;
    width: 10%;
    height: auto;
    border: 2px solid #f9f9f9;
    border-radius: 10em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
}
/* -------ここからスマホデザイン-------- */
@media screen and (max-width: 480px){
  body{
    background-color: #b0e0e6;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .menu{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #66cdaa;
  }
  .menu_item{
    font-size: 40px;
    width: 100%;
    height: auto;
    line-height: 2rem;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
  }
  .index_body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #b0e0e6;
  }
  br.phone{
    display: block;
  }
  .title{
    background-color: #fff;
    margin-top: 12em;
    text-align: center;
    width: 100%;
    height: auto;
    border: 2px solid #f9f9f9;
    border-radius: 10em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .title-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .sub_title1 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 10em;
    height: 3em;
    border: 2px solid #f9f9f9;
    border-radius: 10em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .sub_title2 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 10em;
    height: 3em;
    border: 2px solid #f9f9f9;
    border-radius: 10em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .about_title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 60%;
    height: 3em;
    border: 2px solid #fff;
    border-radius: 10em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .form{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 50em;
    margin-bottom: 2em;
    border: 2px solid #fff;
    border-radius: 5em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .Session_title h2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 3em;
    margin-bottom: 2em;
    border: 2px solid #fff;
    border-radius: 10em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .Session_title p{
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    height: 30em;
    margin-bottom: 2em;
    border: 2px solid #fff;
    border-radius: 5em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .bold{
    font-size: 20px;
  }
  .contact_title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 60%;
    height: 3em;
    margin-bottom: 2em;
    border: 2px solid #fff;
    border-radius: 10em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .contact_form{
    text-align: center;
  }
  .contact_form h2{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 5em;
    margin-bottom: 2em;
    border: 2px solid #fff;
    border-radius: 10em;
    box-shadow: 0px 15px 11px -5px rgba(10,10,10,0.3);
  }
  .question{
    outline:0;
    width: 60%;
    border: 2px solid black;
    border-radius: 0.7em;
  }
  .question.active{
    border: 2px double black;
    border-radius: 0.7em;
    outline:0;
    width: 60%;
  }
  input.submit{
    outline:0;
    width: 40%;
    height: 5em;
    border: 2px solid black;
    background-color: white;
    border-radius: 2em;
  }
  input.submit:hover{
    background-color: #b0e0e6;
    transition: .3s;
  }
  #message{
    height: 20em;
  }
  .contact_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
}
